<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style3.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0;">
    
    <div id="page">
        <div id="header">
            <div id="section">
                <div><a><img src="~/Picture/logo.jpg" alt="Logo" /></a></div>
                <p style="float:right;"><a href="/Login/Login" style="color:#0F0;font-size:24px;">注销</a></p>
                <span>欢迎使用机场管理系统 <br /><br />你好，303</span>
            </div>
            <ul>
                <li><a href="/Login/ReturnToPersonMain">主页</a></li>
                <li><a href="/ChooseFlight/ChooseFlight">登机牌业务</a></li>
                <li><a href="/ChooseFlight/ShowFlightsState">机场状态</a></li>
                <li class="current"><a href="/Luggage/ShowLuggages">行李托运</a></li>
                <li><a href="/BoardPass/ShowFlightsState">登机管理</a></li>
            </ul>
        </div>
        

        <div class="row">
            <div class="col-sm-2" style="margin-left:60px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            公告栏
                            <button id="click" class="btn btn-primary">编辑公告栏</button>

                        </h3>
                    </div>
                    <div class="panel-body">
                        <marquee behavior="scroll" onmouseover=this.stop()
                                 onmouseout=this.start() direction="up" align="center">
                            <div id="t">
                                由于天气原因,MU5186和MU2169航班推迟起飞,请注意行李状态的修改!
                            </div>
                        </marquee>
                    </div>
                </div>
                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=55" style="border:solid 1px #7ec8ea" width="255" height="294" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </div>
            @RenderBody()

        </div>

        <div id="footer">
            <div>
                <div id="connect">
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="~/Images/icon-facebook.gif" alt="Facebook" /></a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="~/Images/icon-twitter.gif" alt="Twitter" /></a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="~/Images/icon-youtube.gif" alt="Youtube" /></a>
                </div>
                <div class="section">
                    <ul>
                        <li>@Html.ActionLink("主页", "Index", "Skip")</li>
                        <li>@Html.ActionLink("关于", "About", "Skip")</li>
                        <li>@Html.ActionLink("个人信息", "Contact", "Skip")</li>
                        <li>@Html.ActionLink("机场情况", "Airportcondition", "Skip")</li>
                    </ul>
                    <p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function startTime() {
            var today = new Date();//定义日期对象
            var yyyy = today.getFullYear();//通过日期对象的getFullYear()方法返回年
            var MM = today.getMonth() + 1;//通过日期对象的getMonth()方法返回年
            var dd = today.getDate();//通过日期对象的getDate()方法返回年
            var hh = today.getHours();//通过日期对象的getHours方法返回小时
            var mm = today.getMinutes();//通过日期对象的getMinutes方法返回分钟
            var ss = today.getSeconds();//通过日期对象的getSeconds方法返回秒
            // 如果分钟或小时的值小于10，则在其值前加0，比如如果时间是下午3点20分9秒的话，则显示15：20：09
            MM = checkTime(MM);
            dd = checkTime(dd);
            mm = checkTime(mm);
            ss = checkTime(ss);
            var day; //用于保存星期（getDay()方法得到星期编号）
            if (today.getDay() == 0) day = "星期日 "
            if (today.getDay() == 1) day = "星期一 "
            if (today.getDay() == 2) day = "星期二 "
            if (today.getDay() == 3) day = "星期三 "
            if (today.getDay() == 4) day = "星期四 "
            if (today.getDay() == 5) day = "星期五 "
            if (today.getDay() == 6) day = "星期六 "
            document.getElementById('nowDateTimeSpan').innerHTML = yyyy + "-" + MM + "-" + dd + " " + hh + ":" + mm + ":" + ss + "   " + day;
            setTimeout('startTime()', 1000);//每一秒中重新加载startTime()方法
        }
        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        document.getElementById("click").onclick = function () {  //修改公告栏内容
            var text = document.getElementById("t");
            var val = text.innerHTML;
            text.innerHTML = "<input type='text' id='n'class='form-control' value=" + val + "/><input type='button' id='btn_1' class='btn btn - primary' data-key='1' value='确定'><input type='button' id='btn_2' class='btn btn - primary' data-key='2' value='取消'>";
            document.getElementById("btn_1").addEventListener("click", function (e) {
                var target = e.target;
                var input = document.getElementById("n");
                text.innerHTML = input.value;
                updatefile(target.dataset.key, input.value)
            });
            document.getElementById("btn_2").addEventListener("click", function () {
                text.innerHTML = val;
            });
        }
    </script>
</body>
</html>
