@using WebApplication4.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>航空公司</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/help-styles.css" />
    <link rel="stylesheet" href="~/Content/prism.css" />
    <link rel="stylesheet" href="~/Content/foxholder-styles.css" />
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery1.42.min.js"></script>
    <script src="~/Scripts/jQuery1.7.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/Scripts/jquery-1.10.2.intellisense.js"></script>

    <script src="/Scripts/prism.js"></script>


    <script src="/Scripts/script.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66794691-3', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        function transformValue() {
            alert("success!");
        }
    </script>
    <style>
        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        body {
            font-family: Helvetica;
            -webkit-font-smoothing: antialiased;
            background: rgba( 71, 147, 227, 1);
        }

        h2 {
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: white;
            padding: 30px 0;
        }

        /* Table Styles */

        .table-wrapper {
            margin: 10px 70px 70px;
            box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
        }

        .fl-table {
            border-radius: 5px;
            font-size: 15px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            background-color: white;
        }

            .fl-table td, .fl-table th {
                text-align: center;
                padding: 8px;
            }

            .fl-table td {
                border-right: 1px solid #f8f8f8;
                font-size: 15px;
            }

            .fl-table thead th {
                color: #ffffff;
                background: #4FC3A1;
            }


                .fl-table thead th:nth-child(odd) {
                    color: #ffffff;
                    background: #324960;
                }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }

        /* Responsive */

        media (max-width: 767px) {
            .fl-table

        {
            display: block;
            width: 100%;
        }

        .table-wrapper:before {
            content: "Scroll horizontally >";
            display: block;
            text-align: right;
            font-size: 11px;
            color: white;
            padding: 0 0 10px;
        }

        .fl-table thead, .fl-table tbody, .fl-table thead th {
            display: block;
        }

            .fl-table thead th:last-child {
                border-bottom: none;
            }

        .fl-table thead {
            float: left;
        }

        .fl-table tbody {
            width: auto;
            position: relative;
            overflow-x: auto;
        }

        .fl-table td, .fl-table th {
            padding: 20px .625em .625em .625em;
            height: 60px;
            vertical-align: middle;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
            width: 120px;
            font-size: 13px;
            text-overflow: ellipsis;
        }

        .fl-table thead th {
            text-align: left;
            border-bottom: 1px solid #f7f7f9;
        }

        .fl-table tbody tr {
            display: table-cell;
        }

            .fl-table tbody tr:nth-child(odd) {
                background: none;
            }

        .fl-table tr:nth-child(even) {
            background: transparent;
        }

        .fl-table tr td:nth-child(odd) {
            background: #F8F8F8;
            border-right: 1px solid #E6E4E4;
        }

        .fl-table tr td:nth-child(even) {
            border-right: 1px solid #E6E4E4;
        }

        .fl-table tbody td {
            display: block;
            text-align: center;
        }
        }
    </style>

    <link rel="stylesheet" type="text/css" href="~/Content/frame.css" />

</head>

<body>
    <div id="page">
        <div id="header">
            <div id="section">
                <div id="logo"><img src="~/Picture/logo.jpg" alt="Logo" /></div>
                <p>欢迎使用机场管理系统</p>
                <!-- <p style="float:right;"><a href="#" style="color:#0F0;font-size:24px;">注销</a></p> -->
            </div>
            <div id="user">
                <p>
                    你好,&nbsp;<span id="name">东方航空公司</span>
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Login/Login" style="color:#a6beea;font-size:15px;">注销</a>
                </p>
            </div>
            <ul id="tcontent">
                <li><a href="/Airlines/Airlines">新建航班</a></li>
                <li><a href="/Airlines/ChangeFlight">修改航班</a></li>
                <li><a href="~/Airlines/AddPlane">添加飞机</a></li>
                <li><a href="/Airlines/query">查询航班</a></li>
                <li class="current"><a href="#">实时航班信息</a></li>

            </ul>
        </div>
        <div class="table-wrapper" style="overflow-y: auto;height:500px;">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>航班号</th>
                        <th>出发</th>
                        <th>到达</th>
                        <th>预计起飞时间</th>
                        <th>预计达到时间</th>
                        <th>航班状态</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (TFlightTime flight_time in Model)
                        {
                            string a = flight_time.t_airport + "-" + flight_time.t_terminal;
                            string b = flight_time.l_airport + "-" + flight_time.l_termnal;
                            <tr>
                                <td>@Html.DisplayFor(m => flight_time.f_id)</td>
                                <td>@Html.DisplayFor(m => a)</td>
                                <td>@Html.DisplayFor(m => b)</td>
                                <td>@Html.DisplayFor(m => flight_time.ex_takeoff_time)</td>
                                <td>@Html.DisplayFor(m => flight_time.ex_land_time)</td>
                                <td>待起飞</td>
                            </tr>
                        }

                    }
                <tbody>
            </table>
        </div>
        <div id="footer">
            <div>
                <div id="connect">
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="/Picture/icon-facebook.gif" alt="Facebook" /></a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="/Picture/icon-twitter.gif" alt="Twitter" /></a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"><img src="~/Picture/icon-youtube.gif" alt="Youtube" /></a>
                </div>
                <div class="section">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="admissions.html">Admissions</a></li>
                        <li><a href="trainingcourses.html">Training Courses</a></li>
                        <li><a href="career.html">Career</a></li>
                        <li class="last"><a href="contactus.html">Contact Us</a></li>
                    </ul>
                    <p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/foxholder.js"></script>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
    <script type="text/javascript">
        var tables = document.getElementsByTagName("table");
        var odd, rows;
        for (var i = 0; i < tables.length; i++) {
            odd = false;
            rows = tables[i].getElementsByTagName("tr");
            for (var j = 0; j < rows.length; j++) {
                if (odd == false) {
                    rows[j].style.backgroundColor = "#c4c4c4";
                    odd = true;
                } else {
                    odd = false;
                }
            }
        }
    </script>

</body>

</html>

