@using WebApplication4.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>乘客登机管理</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <style type="text/css">
        <!--
        body, table {
            font-size: 12px;
        }

        table {
            table-layout: fixed;
            empty-cells: show;
            border-collapse: collapse;
            margin: 0 auto;
        }

        td {
            height: 30px;
            text-align: center;
        }

        h1, h2, h3 {
            font-size: 12px;
            margin: 0;
            padding: 0;
        }

        .title {
            background: #FFF;
            border: 1px solid #9DB3C5;
            padding: 1px;
            width: 90%;
            margin: 20px auto;
        }

            .title h1 {
                font-size: 30px;
                font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
                line-height: 50px;
                text-align: center;
                background: #2F589C url(th_bg2.gif);
                background-repeat: repeat-x;
                background-position: 0 0;
                color: #FFF;
            }

            .title th, .title td {
                border: 1px solid #CAD9EA;
                padding: 5px;
            }


        /*这个是借鉴一个论坛的样式*/
        table.t1 {
            border: 1px solid #cad9ea;
            color: #666;
        }

            table.t1 th {
                background-image: url(th_bg1.gif);
                background-repeat: repeat-x;
                height: 30px;
            }

            table.t1 td, table.t1 th {
                border: 1px solid #cad9ea;
                padding: 0 1em 0;
            }

            table.t1 tr.a1 {
                background-color: #f5fafe;
            }

        .s3 {
            width: 60px;
            font-size: 14px;
            color: #000;
        }

        .s4 {
            width: 60px;
            font-size: 14px;
            color: #03F;
            border-bottom: 2px solid #03f;
        }



        -->
    </style>
    <!-- [if IE 6] >
    <link rel="stylesheet" type="text/css" href="ie6.css" / >
    <![endif] -->

    <script type="text/javascript" src="~/Scripts/jquery-3.4.0.min.js"></Script >
        <script type="text/javascript">
            $(document).on('click', '#buttonu', function () {
                var x = document.getElementById("mytab");
                var rows = x.rows.length;
                var index = $(this).parents("tr").index();

                if (index + 1 < rows) {
                    var cm = confirm("确定更改该乘客状态?");
                    if (cm == true) {
                        var x = document.getElementById("mytab");            //需要更改的行数
                        //更具cid fid修改customer状态为已登机
                        var cid = $(this).parents("tr").find("td").eq(0).text();
                        var seat = $(this).parents("tr").find("td").eq(5).text()   //座位
                        var state = $(this).parents("tr").find("td").eq(6).text()   //当前状态

                        document.postformid.c_id.value = cid;
                        document.postformid.seat.value = seat;
                        document.postformid.s.value = state;
                        document.postformid.submit();
                    }
                }
    });
    </script>
</head>
<body>
    <div id="page">
        <div id="header">
            <div id="section">
                <div>
                    <a href="index.cshtml">
                        <img src="~/Picture/logo.jpg" alt="Logo">
                    </a>
                </div>
                <p style="float:right;"><a href="/Login/Login" style="color:#0F0;font-size:24px;">注销</a></p>
                <span> 欢迎使用机场管理系统 <br /> <br /> 你好，303</span>
            </div>
            <ul>
                <li><a href="/Login/ReturnToPersonMain">主页</a></li>
                <li><a href="/ChooseFlight/ChooseFlight">登机牌业务</a></li>
                <li><a href="/ChooseFlight/ShowFlightsState">机场状态</a></li>
                <li><a href="/Luggage/ShowLuggages">行李托运</a></li>
                <li class="current"><a href="/BoardPass/ShowFlightsState">登机管理</a></li>

            </ul>
            
        </div>


        <div class="title">
            <h1>乘客状态表</h1>
        </div>
        <table width="90%" id="mytab" border="1" class="t1">
            <tr>
            <td width="15%">乘客ID</td>
            <td width="15%">姓名</td>
            <td width="15%">性别</td>
            <td width="20%">电话号码</td>
            <td width="20%">航班</td>
            <td width="20%">座位</td>
            <td width="15%">状态</td>
            </tr>

            @{
                int flag = 0;
                string fid = "";

                foreach (CustomerBoardingState cbs in Model)
                {
                    if (flag % 2 == 0)
                    {
                        <tr class="a1">
                            <td>@Html.DisplayFor(m => cbs.Customer_ID)</td>
                            <td>@Html.DisplayFor(m => cbs.name)</td>
                            <td>@Html.DisplayFor(m => cbs.gender)</td>
                            <td>@Html.DisplayFor(m => cbs.phone)</td>
                            <td>@Html.DisplayFor(m => cbs.Flight_ID)</td>
                            <td>@Html.DisplayFor(m => cbs.seat)</td>
                            <td id="buttonu" class="s3" onmouseover="this.className='s4'" onmouseout="this.className='s3'">@Html.DisplayFor(m => cbs.state)</td>
                        </tr>
                        flag++;
                        fid = cbs.Flight_ID;
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => cbs.Customer_ID)</td>
                            <td>@Html.DisplayFor(m => cbs.name)</td>
                            <td>@Html.DisplayFor(m => cbs.gender)</td>
                            <td>@Html.DisplayFor(m => cbs.phone)</td>
                            <td>@Html.DisplayFor(m => cbs.Flight_ID)</td>
                            <td>@Html.DisplayFor(m => cbs.seat)</td>
                            <td id="buttonu" class="s3" onmouseover="this.className='s4'" onmouseout="this.className='s3'">@Html.DisplayFor(m => cbs.state)</td>
                        </tr>
                        flag++;
                    }
                }
            }
        </table>

        <div id="footer" style="display:inline-block">
            <div>
                <div id="connect">
                    <a href="http://sc.chinaz.com/moban" target="_blank"> <img src="~/Picture/icon-facebook.gif" alt="Facebook" / > </a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"> <img src="~/Picture/icon-twitter.gif" alt="Twitter" / > </a>
                    <a href="http://sc.chinaz.com/moban" target="_blank"> <img src="~/Picture/icon-youtube.gif" alt="Youtube" / > </a>
                </div>
                <div class="section">
                    <div class="section">
                        <ul>
                            <li> <a href="index.html"> Home</a> </li>
                            <li> <a href="flight.html"> About</a> </li>
                            <li> <a href="index.html"> Admissions</a> </li>
                            <li> <a href="passenger.html"> Training Courses</a> </li>
                            <li> <a href="airport.html"> Career</a> </li>
                            <li class="last"> <a href="index.html"> Contact Us</a> </li>
                        </ul>
                        <p> &copy; Copyright 0000. Company Name. All Rights Reserved.</p>
                    </div>
                    <p> &nbsp;</p>
                </div>
            </div>
        </div>
        <div style="display:none">
            <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
        </div>

        <form method="post" action="/BoardPass/ReturnToShowCustomerBoardingStates" name="postformid" style="margin:0 auto;width:500px">
            <input type="hidden" name="c_id" value="">
            <input type="hidden" name="f_id" value="@(Model[0].Flight_ID)">
            <input type="hidden" name="seat" value="">
            <input type="hidden" name="s" value="">
        </form>
    </div>
</body>
</html>


